
@{
    ViewBag.Title = "AddNewBatch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/angular/Batch.js"></script>


<div class="col-sm-12 col-md-12" ng-app="abcApp" ng-controller="abcCtrl">

    <div class="row" style="background-color:snow; margin-top:20px;border-radius:20px;padding:5px; border:double">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-3">
                    <label>Batch ID</label><br />
                    <input ng-model="BatchId" class="form-control" placeholder="Batch ID " />
                </div>
                <div class="col-sm-3">
                    <label>Batch Code</label><br />
                    <input ng-model="BatchCode" class="form-control" placeholder="Batch Code "/>
                </div>
                <div class="col-sm-3">
                    <label>Course Id</label><br />
                    <input ng-model="CourseId" class="form-control" placeholder="Course ID "/>
                </div>
                <div class="col-sm-3">
                    <label>Start Date</label><br />
                    <input ng-model="StartDate" class="form-control" placeholder="Start Date "/>
                </div>
            </div>

        <div class="row text-center" style="margin-top:10px;">
            <div class="col-sm-12">
                <input type="button" ng-show="Addbtnshow" class="btn btn-info" ng-click="AddBatch()" value="Add Batch" />
                <input type="button" ng-show="updatebtnshow" class="btn btn-info" ng-click="UpdateBatch()" value="Update Batch" />
            </div>
        </div>

    </div>
        </div>

    <div class="table-responsive" style="margin-top:20px; table-layout:fixed">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Serial</th>
                    <th>Batch ID</th>
                    <th>Batch Code</th>
                    <th>Course Id</th>
                    <th>Start Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
               
                <tr ng-repeat="item in BatchList">
                    <td>{{$index+1}}</td>
                    <td>{{item.BatchId}}</td>
                    <td>{{item.BatchCode}}</td>
                    <td>{{item.CourseId}}</td>
                    <td>{{item.StartDate}}</td>
                   
                    <td>
                        <button class="btn btn-sm btn-primary" ng-click="StudentEdit(item)">Edit</button>||
                        <button class="btn btn-sm btn-danger" ng-click="StudentDelete(item)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
