
@{
    ViewBag.Title = "AddStudentGrade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/angular/StudentGrade.js"></script>

<div class="col-sm-12 col-md-12" ng-app="abcApp" ng-controller="abcCtrl">


    <div class="col-sm-12">
        <div class="row" style="background-color:snow; margin-top:20px;border-radius:20px;padding:5px;border:double">
            <div class="col-sm-6">
                <label>Grade ID</label><br />
                <input ng-model="GradeId" class="form-control" placeholder="Grade Id"/>
            </div>
            <div class="col-sm-6">
                <label>Number From</label><br />
                <input ng-model="NumberFrom" class="form-control" type="number" placeholder="Number From" />
            </div>
            <div class="col-sm-6">
                <label>Number To</label><br />
                <input ng-model="NumberTo" class="form-control" type="number" placeholder="Number To"/>
            </div>
            <div class="col-sm-6">
                <label>Grade</label><br />
                <input ng-model="Grade" class="form-control" placeholder="Grade"/>
            </div>
        </div>


    </div>

    <div class="row text-center" style="margin-top:10px;">
        <div class="col-sm-10">
            <input type="button" ng-show="Addbtnshow" class="btn btn-info" ng-click="AddStudentGrade()" value="Add Student Grade" />
            <input type="button" ng-show="updatebtnshow" class="btn btn-info" ng-click="UpdateStudentGrade()" value="Update Student Grade" />
        </div>
    </div>

    <div class="table-responsive" style="margin-top:20px; table-layout:fixed">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Serial</th>
                    <th>Grade ID</th>
                    <th>Number From</th>
                    <th>Number To</th>
                    <th>Grade</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
              
                <tr ng-repeat="item in StudentGradeList">
                    <td>{{$index+1}}</td>
                    <td>{{item.GradeId}}</td>
                    <td>{{item.NumberFrom}}</td>
                    <td>{{item.NumberTo}}</td>
                    <td>{{item.Grade}}</td>

                    <td>
                        <button class="btn btn-sm btn-primary" ng-click="StudentEdit(item)">Edit</button>||
                        <button class="btn btn-sm btn-danger" ng-click="StudentDelete(item)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>


